html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--bg-col);
    color: var(--text-col);
}

h2.heading {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    margin-bottom: 30px;
}

h3.heading {
    font-size: 1.2em;
    margin-bottom: 30px;
}

span.copyright {
    font-size: 0.8em;
    /* affix to bottom right */
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    padding: 10px;
    color: darkslategray;
}

button {
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
}

.toggle.on {
    background-color: var(--button-blue-bg-col);
    border-color: var(--button-blue-bg-col);
    color: var(--dark-text-col);
}

.toggle.on#toggle3, .toggle.on#complextoggle {
    background-color: var(--button-red-bg-col);
    border-color: var(--button-red-bg-col);
    color: white;
}

.toggle {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.container {
    background-color: var(--bg-emphasis-col);
    border-radius: 10px;
    margin: 10px;
}
.bigcontainer {
    display: flex;
}
.buttonscontainer {
    display: flex;
    gap: 5px;
}

div.divider {
    opacity: 0.5;
    height: 4px;
    width: 20%;
    background-color: var(--bg-emphasis-col);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.flagbutton.off {
    background-color: lightgray !important;
}

.flagbutton.clicked {
    border-color: white;
    border-style: dashed;
}

.flagbutton#a {
    background-color: var(--a);
    color: white;
}

.flagbutton#bi {
    background-color: var(--bi);
}

.flagbutton#demi {
    background-color: var(--demi);
}

.flagbutton#fluid {
    background-color: var(--fluid);
}

.flagbutton#flux {
    background-color: var(--flux);
}

.flagbutton#homo {
    background-color: var(--homo);
    color: white;
}

.flagbutton#inter {
    background-color: var(--inter);
    color: white;
}

.flagbutton#pan { 
    background-color: var(--pan)
}

.flagbutton#poly {
    background-color: var(--poly);
}

.flagbutton#queer {
    background-color: var(--queer)
}

.flagbutton#trans {
    background-color: var(--trans)
}

.flagbutton#sexual {
    background-color: var(--sexual);
    color: white;
}

.flagbutton#romantic { 
    background-color: var(--romantic)
}

.flagbutton#gender {
    background-color: var(--gender);
    color: white;
}

.flagbutton#gamous {
    background-color: var(--gamous)
}

.flagbutton#sex {
    background-color: var(--sex)
}

.flagbutton#masculine {
    background-color: var(--masculine)
}

.flagbutton#feminine {
    background-color: var(--feminine);
}
